<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>Assignment</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">One Api call per page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/show-all" routerLinkActive="active">One call only (local pagination)</a>
            </li>
        </ul>


    </div>
</nav>


<div class="row">
    <router-outlet></router-outlet>
</div>